/* .app {
  display: grid;
  grid-template-areas: "sidebar review rating sentiment" 
                        "sidebar visitors visitors visitors"
                        "sidebar visitors visitors visitors";
  width: 100vw;
  height: 100vh;
  background-color: ;
}
​
a {
  display: block;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100px;
  background-color: rgba(97, 81, 81, 0.431);
  border: solid black 4px;
  align-self:center;
  line-height: 35px;
  border-radius: 10px;
}
​
.review {
  grid-area: review;
  display: flex;
  border: solid black 4px;
  width: 20%;
  height: 34%;
}
​
.rating {
  grid-area: rating;
  border: 4px solid black;
}
​
.sentiment {
  grid-area: sentiment;
  border: 1px solid black;
}
​
.visitors {
  grid-area: visitors;
  border: 1px solid black;
} */
